<div class="aux">
    <div class="col-md-1.2 offset-md-3" id="selectedFilter">
        <label> Tipo de Arquivo</label>
        <select onchange="selectedType()" id="formSelect" class="form-select" aria-label="Default select example">
            <option value="1">Alvará</option>
            <option value="2">Comprovante</option>
            <option value="3">Contrato</option>
            <option value="4">Fatura</option>
            <option value="5">Nota Fiscal</option>
            <option value="6">Outros Arquivos</option>
        </select>
    </div>
</div>


<form action="/consultar/alvara" id="FormFilterAlvara" method="post">
    <div class="row1">
        <div class="   col-md-2 offset-md-7">
            <label> Nº Alvará</label>
            <input type="text" name="num_alvara" class="form-control " placeholder="">
        </div>

        <div class="col-md-2 offset-md-1">
            <label> CNPJ </label>
            <input type="text" name="cnpj" class="form-control" placeholder="">
        </div>
    </div>

    <div class="row2">
        <div class="   col-md-2 offset-md-4">
            <label> Data de Emissão</label>
            <input type="date" name="data_emissao" class="form-control " placeholder="">
        </div>

        <div class="   col-md-2 offset-md-1">
            <label> Data de Validade</label>
            <input type="date" name="data_validade" class="form-control " placeholder="">
        </div>

        <div class="col-md-2 offset-md-1">
            <input type="submit" value="Consultar" class="btn btn-dark" name="">
        </div>
    </div>
</form>





<form action="/consultar/comprovante" id="FormFilterComprovante" method="post" hidden>
    <div class="row1">
        <div class="   col-md-2 offset-md-7">
            <label> CPF/CNPJ Beneficiário</label>
            <input type="text" name="cpf_cnpj_beneficiario" class="form-control" placeholder="">
        </div>

        <div class="col-md-2 offset-md-1">
            <label>Nome Pagador</label>
            <input type="text" name="nome_pagador" class="form-control " placeholder="">
        </div>
    </div>

    <div class="row2">
        <div class="   col-md-2 offset-md-4">
            <label> CPF/CNPJ Pagador</label>
            <input type="text" name="cpf_cnpj_pagador" class="form-control " placeholder="">
        </div>

        <div class="   col-md-2 offset-md-1">
            <label> Data Pagamento</label>
            <input type="date" name="data_pagamento" class="form-control " placeholder="">
        </div>

        <div class="   col-md-2 offset-md-1">
            <input type="submit" value="Consultar" class="btn btn-dark" name="">
        </div>
    </div>
</form>



<form action="/consultar/contrato" id="FormFilterContrato" method="post" hidden>
    <div class="row1">
        <div class="   col-md-2 offset-md-7">
            <label> CPF/CNPJ Empregador</label>
            <input type="text" name="cnpj_empregador" class="form-control " placeholder="">
        </div>

        <div class="col-md-2 offset-md-1">
            <label> Nome Empregado </label>
            <input type="text" name="nome_empregado" class="form-control" placeholder="">
        </div>
    </div>

    <div class="row2">
        <div class="   col-md-2 offset-md-4">
            <label> CPF Empregado</label>
            <input type="text" name="cpf_empregado" class="form-control " placeholder="">
        </div>

        <div class="   col-md-2 offset-md-1">
            <label> Cargo</label>
            <input type="text" name="cargo" class="form-control " placeholder="">
        </div>

        <div class="col-md-2 offset-md-1">
            <input type="submit" value="Consultar" class="btn btn-dark" name="">
        </div>
    </div>
</form>




<form action="/consultar/fatura" id="FormFilterFatura" method="post" hidden>
    <div class="row1">
        <div class="   col-md-2 offset-md-7">
            <label> Nº Fatura</label>
            <input type="text" name="num_fatura" class="form-control " placeholder="">
        </div>

        <div class="col-md-2 offset-md-1">
            <label> Data Emissão </label>
            <input type="date" name="data_emissao" class="form-control" placeholder="">
        </div>
    </div>

    <div class="row2">
        <div class="   col-md-2 offset-md-4">
            <label> Data Vencimento</label>
            <input type="date" name="data_vencimento" class="form-control " placeholder="">
        </div>

        <div class="col-md-2 offset-md-1">
            <input type="submit" value="Consultar" class="btn btn-dark" name="">
        </div>
    </div>

</form>





<form action="/consultar/nota_fiscal" id="FormFilterNotaFiscal" method="post" hidden>
    <div class="row1">
        <div class="   col-md-2 offset-md-7">
            <label> Cod. Filial</label>
            <select name="cod_filial" class="form-select" aria-label="Default select example">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="98">98</option>
                <option value="99">99</option>
            </select>
        </div>

        <div class="col-md-2 offset-md-1">
            <label> Nº Nota</label>
            <input type="number" name="num_nota" class="form-control" placeholder="">
        </div>
    </div>

    <div class="row2">
        <div class="   col-md-2 offset-md-4">
            <label>Cod Cliente</label>
            <input type="number" name="cod_cliente" class="form-control " placeholder="">
        </div>

        <div class="   col-md-2 offset-md-1">
            <label>Nº Pedido</label>
            <input type="number" name="num_pedido" class="form-control " placeholder="">
        </div>

        <div class="col-md-2 offset-md-1">
            <input type="submit" value="Consultar" class="btn btn-dark" name="">
        </div>
    </div>
</form>




<br>


<div class="containerTable">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {{#each cabecalho}}
                        <th scope="col">{{this}}</th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each result}}
                    <tr>
                        <td scope="row">{{campo1}}</td>
                        {{#if data2}}
                            <td>{{#formatDate campo2}}{{/formatDate}}</td>
                        {{else}}
                            <td>{{campo2}}</td>
                        {{/if}}
                        {{#if data3}}
                            <td>{{#formatDate campo3}}{{/formatDate}}</td>
                        {{else}}
                            <td>{{campo3}}</td>
                        {{/if}}
                        {{#if data4}}
                            <td>{{#formatDate campo4}}{{/formatDate}}</td>
                        {{else}}
                            <td>{{campo4}}</td>
                        {{/if}}
                        <td class="actions">
                            <a href="/{{campo5}}"><button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button></a>
                            <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/Consult.js"></script>