<head>
    <link rel="stylesheet" href="/TelaInicial.css">
    <link rel="stylesheet" href="/TelaModal.css">
</head>

<img class="imgLogo" src="/iconFile.png" alt="">
<div id="logo">
    <h4 class="newLogo">File <span>Storage</span></h4>
    <a href="/sair">Sair</a>
</div>
<h5 id="cabecalho">Informações do Documento</h5>

<div class="telaInicial">
    <div class="formConsult">
        <select name="" id="comboFile" onchange="selectedFilterType()">
            <option value="1">Alvará</option>
            <option value="2">Comprovante</option>
            <option value="3">Contrato</option>
            <option value="4">Fatura</option>
            <option value="5">Nota Fiscal</option>
        </select>

        <form action="/consultar/alvara" id="FormFilterAlvara" method="POST">
            <input type="number" name="num_alvara" placeholder="Número Alvará">
            <input type="number" name="cnpj" placeholder="CNPJ">
            <input type="text" onfocus="(this.type='date')" name="data_emissao" S placeholder="Data de Emissão">
            <input type="text" onfocus="(this.type='date')" name="data_validade" placeholder="Data de Vencimento">
            <input type="submit" id="btnNewConsult" value="Consultar">
        </form>

        <form action="/consultar/comprovante" hidden id="FormFilterComprovante" method="POST">
            <input type="number" name="cpf_cnpj_beneficiario" placeholder="CPF/CNPJ Pagador">
            <input type="text" name="nome_pagador" placeholder="Nome do Pagador">
            <input type="number" name="cpf_cnpj_pagador" placeholder="CPF/CNPJ Pagador">
            <input type="text" onfocus="(this.type='date')" name="data_pagamento" placeholder="Data de Pagamento">
            <input type="submit" id="btnNewConsult" value="Consultar">
        </form>

        <form action="/consultar/contrato" hidden id="FormFilterContrato" method="POST">
            <input type="number" name="cnpj_empregador" placeholder="CNPJ do Empregador">
            <input type="text" name="nome_empregado" placeholder="Nome do Empregado">
            <input type="number" name="cpf_empregado" placeholder="CPF do Empregado">
            <input type="text" name="cargo" placeholder="Cargo">
            <input type="submit" id="btnNewConsult" value="Consultar">
        </form>

        <form action="/consultar/fatura" hidden id="FormFilterFatura" method="POST">
            <input type="number" name="num_fatura" placeholder="Número da Fatura">
            <input type="text" onfocus="(this.type='date')" name="data_emissao" placeholder="Data de Emissão">
            <input type="text" onfocus="(this.type='date')" name="data_vencimento" placeholder="Data de Vencimento">
            <input type="submit" id="btnNewConsult" value="Consultar">
        </form>

        <form action="/consultar/nota_fiscal" hidden id="FormFilterNotaFiscal" method="POST">
            <input type="number" name="cod_filial" placeholder="Código da Filial">
            <input type="number" name="num_nota" placeholder="Número da Nota">
            <input type="number" name="cod_cliente" placeholder="Código do Cliente">
            <input type="number" name="num_pedido" placeholder="Número do Pedido">
            <input type="submit" id="btnNewConsult" value="Consultar">
        </form>
    </div>



    <table>
        <thead>
            <tr>
                {{#each cabecalho}}
                <th>{{this}}</th>
                {{/each}}
            </tr>
        </thead>

        <tbody>
            {{#each result}}
            <tr>
                <td scope="row">{{campo1}}</td>
                {{#if data2}}
                <td>{{#formatDate campo2}}{{/formatDate}}</td>
                {{else}}
                <td>{{campo2}}</td>
                {{/if}}
                {{#if data3}}
                <td>{{#formatDate campo3}}{{/formatDate}}</td>
                {{else}}
                <td>{{campo3}}</td>
                {{/if}}
                {{#if data4}}
                <td>{{#formatDate campo4}}{{/formatDate}}</td>
                {{else}}
                <td>{{campo4}}</td>
                {{/if}}
                <td><a href="/{{campo5}}">Visualizar</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<a id="iconAdd" href="#exampleModal" data-toggle="modal" data-target="#exampleModal"><i
        class="bi bi-plus-circle-fill"></i></a>








<!-- ________________________________________________________________Modal Novo Ax'rquivo______________________________________________________________________________________________________ -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo Documento</h5>
            </div>
            <div class="modal-body">
                <div class="col-md-10 offset-md-1">
                    <select name="" id="formSelect" onchange="selectedType()">
                        <option value="1">Alvará</option>
                        <option value="2">Comprovante</option>
                        <option value="3">Contrato</option>
                        <option value="4">Fatura</option>
                        <option value="5">Nota Fiscal</option>
                        <option value="6">Outros Arquivos</option>
                    </select>
                </div>
                <br>

                <form action="/novo/alvara" method="post" id="FormAlvara" enctype="multipart/form-data">
                    <div class="col-md-10 offset-md-1">
                        <input type="number" name="num_alvara" class="form-control" placeholder="Número do Alvará">
                    </div>
                    <br>

                    <div class="col-md-10 offset-md-1">
                        <input type="number" name="cnpj" class="form-control" placeholder="CNPJ">
                    </div>
                    <br>

                    <div class="col-md-10 offset-md-1">
                        <input type="text" onfocus="(this.type='date')" name="data_emissao" class="form-control"
                            placeholder="Data de Emissão">
                    </div>
                    <br>

                    <div class="col-md-10 offset-md-1">
                        <input type="text" onfocus="(this.type='date')" name="data_validade" class="form-control"
                            placeholder="Data de Validade">
                    </div>
                    <br>

                    <div class="col-md-10 offset-md-1">
                        <input type="file" name="diretorio" class="form-control" placeholder="Número do Alvará">
                    </div>
                    <br>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="btnFechar"
                            data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary" id="btnSalvar">Salvar</button>
                    </div>
                </form>


                <form action="/novo/comprovante" method="post" id="FormComprovante" enctype="multipart/form-data"
                    hidden>
                    <div class="col-md-10 offset-md-1">
                        <input type="number" name="cpf_cnpj_beneficiario" class="form-control"
                            placeholder="CPF/CNPJ Beneficiário">
                    </div>
                    <br>

                    <div class="col-md-10 offset-md-1">
                        <input type="text" name="nome_pagador" class="form-control" placeholder="Nome do Pagador">
                    </div>
                    <br>

                    <div class="col-md-10 offset-md-1">
                        <input type="number" name="cpf_cnpj_pagador" class="form-control"
                            placeholder="CPF/CNPJ do Pagador">
                    </div>
                    <br>

                    <div class="col-md-10 offset-md-1">
                        <input type="text" onfocus="(this.type='date')" name="data_pagamento" class="form-control"
                            placeholder="Data de Pagamento">
                    </div>
                    <br>

                    <div class="col-md-10 offset-md-1">
                        <input type="file" name="diretorio" class="form-control" placeholder="Número do Alvará">
                    </div>
                    <br>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="btnFechar"
                            data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary" id="btnSalvar">Salvar</button>
                    </div>
                </form>


                <form action="/novo/contrato" method="post" id="FormContrato" enctype="multipart/form-data" hidden>
                    <div class="col-md-10 offset-md-1">
                        <input type="number" name="cnpj_empregador" class="form-control" placeholder="CNPJ da Empresa">
                    </div>
                    <br>

                    <div class="col-md-10 offset-md-1">
                        <input type="text" name="nome_empregado" class="form-control" placeholder="Nome do Empregado">
                    </div>
                    <br>

                    <div class="col-md-10 offset-md-1">
                        <input type="number" name="cpf_empregado" class="form-control" placeholder="CPF do Empregado">
                    </div>
                    <br>

                    <div class="col-md-10 offset-md-1">
                        <input type="text" name="cargo" class="form-control" placeholder="Cargo">
                    </div>
                    <br>

                    <div class="col-md-10 offset-md-1">
                        <input type="file" name="diretorio" class="form-control" placeholder="Número do Alvará">
                    </div>
                    <br>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="btnFechar"
                            data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary" id="btnSalvar">Salvar</button>
                    </div>
                </form>



                <form action="/novo/fatura" method="post" id="FormFatura" enctype="multipart/form-data" hidden>
                    <div class="col-md-10 offset-md-1">
                        <input type="number" name="num_fatura" class="form-control" placeholder="Número da Fatura">
                    </div>
                    <br>

                    <div class="col-md-10 offset-md-1">
                        <input type="text" onfocus="(this.type='date')" name="data_emissao" class="form-control"
                            placeholder="Data de Emissão">
                    </div>
                    <br>

                    <div class="col-md-10 offset-md-1">
                        <input type="text" onfocus="(this.type='date')" name="data_vencimento" class="form-control"
                            placeholder="Data de Vencimento">
                    </div>
                    <br>

                    <div class="col-md-10 offset-md-1">
                        <input type="file" name="diretorio" class="form-control" placeholder="Número do Alvará">
                    </div>
                    <br>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="btnFechar"
                            data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary" id="btnSalvar">Salvar</button>
                    </div>
                </form>



                <form action="/novo/nota_fiscal" method="post" id="FormNotaFiscal" enctype="multipart/form-data" hidden>
                    <div class="col-md-10 offset-md-1">
                        <select name="cod_filial" class="form-select" aria-label="Default select example">
                            {{#each filiais}}
                            <option value={{dataValues.codigo}}>{{dataValues.razao_social}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <br>

                    <div class="col-md-10 offset-md-1">
                        <input type="number" name="num_nota" class="form-control" placeholder="Número da Nota">
                    </div>
                    <br>

                    <div class="col-md-10 offset-md-1">
                        <input type="number" name="cod_cliente" class="form-control" placeholder="Código do Cliente">
                    </div>
                    <br>

                    <div class="col-md-10 offset-md-1">
                        <input type="number" name="num_pedido" class="form-control" placeholder="Número do Pedido">
                    </div>
                    <br>

                    <div class="col-md-10 offset-md-1">
                        <input type="file" name="diretorio" class="form-control" placeholder="Número do Alvará">
                    </div>
                    <br>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="btnFechar"
                            data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary" id="btnSalvar">Salvar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<script src="/newFile.js"></script>
<script src="/Consult.js"></script>